services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/
    networks:
      - app-network
    environment:
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=1234
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "check_running" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./server
    ports:
      - "4000:4000"
      - "4001:4001"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./.env
    command: npm start
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  worker:
    build: ./server
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./.env
    command: node worker.js
    networks:
      - app-network
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongodb:
        condition: service_healthy
      ollama:
        condition: service_healthy

  frontend:
    build: ./client
    ports:
      - "8085:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - backend
    command: npm run dev -- --host --port 3000
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: datos
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p1234" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin_ui
    restart: always
    ports:
      - "8081:80"
    environment:
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=1234
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy

  ollama:
    image: ollama/ollama:latest
    container_name: ollama_server
    ports:
      - "11434:11434"
    volumes:
      - ${PATH_DADES:-./ollama_storage}:/root/.ollama
    networks:
      - app-network
    environment:
      - MODEL_NAME=${MODEL_NAME:-llama3.2:3b}
    entrypoint: [ "/bin/sh", "-c" ]
    command:
      - |
        ollama serve &
        echo "Esperant que el servidor Ollama estigui actiu..."
        until ollama list > /dev/null 2>&1; do
          sleep 2
        done
        if ollama list | grep -q "$${MODEL_NAME}"; then
          echo "El model $${MODEL_NAME} ja està preparat."
        else
          echo "Model $${MODEL_NAME} no trobat. Iniciant descàrrega..."
          until ollama pull $${MODEL_NAME}; do
            echo "Error en la descàrrega. Reintentant..."
            sleep 5
          done
        fi
        wait
    healthcheck:
      test: [ "CMD-SHELL", "ollama list | grep -q \"$${MODEL_NAME}\"" ]
      interval: 15s
      timeout: 10s
      retries: 20

  mongodb:
    image: mongo:latest
    container_name: mongodb_db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 1234
    ports:
      - "27017:27017"
    networks:
      - app-network
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5

  mongo-express:
    image: mongo-express:latest
    container_name: mongo_express_ui
    restart: always
    ports:
      - "8082:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: 1234
      ME_CONFIG_MONGODB_URL: mongodb://admin:1234@mongodb:27017/
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: 1234
    networks:
      - app-network
    depends_on:
      mongodb:
        condition: service_healthy
networks:
  app-network:
    driver: bridge

volumes:
  rabbitmq_data:
  db_data:
  mongo_data:
